head {
	text-shadow: 1px 1px #333333;
}

p {
	text-shadow: 1px 1px #333333;
}

h2 {
	text-shadow: 1px 1px #333333;
}

h3 {
	text-align: left;
	text-shadow: 1px 1px #333333;
}

body {
	text-shadow: 1px 1px #333333;
}
